<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../components/layout.css" />
    <link rel="stylesheet" href="../components/sidebar.css" />
  </head>
  <body>
    <div id="header-placeholder"></div>
    <div id="sidebar"></div>

    <h1 style="padding: 0 500px">tem</h1>

    <script src="../components/sidebar.js"></script>
    <script src="../components/layout.js"></script>
    <script src="./template.js" type="module"></script>
  </body>
</html>
