#content {
  margin-left: 30%;
}
h4 {
  display: inline;
}
@media (max-width: 1024px) {
  #content {
    margin-left: 300px;
  }
}

@media (max-width: 768px) {
  #content {
    margin-left: 100px;
  }
}
