<header class="navbar">
    <div class="navbar__left">
        <a href="../ListBoard/boards.html">
            <div class="logo-container">
                <i class="fa-solid fa-layer-group"></i>
                <span class="logo-text">TrìHoãnPro</span>
            </div>
        </a>
    </div>

    <div class="navbar__center">
        <div class="search-box">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Tìm nhanh bảng...">
        </div>

        <button class="btn-create">
            <i class="fa-solid fa-plus"></i>
            <span>Tạo bảng mới</span>
        </button>
    </div>

    <div class="navbar__right">
        <!-- <button class="btn-icon">
            <i class="fa-regular fa-bell"></i>
            <span class="badge">3</span>
        </button> -->

        <div class="user-profile">
            <img src="https://ui-avatars.com/api/?name=User+Name&background=random" alt="Avatar" class="avatar">
            <div id="myDropdown" class="dropdown-menu">
                <a href="#profile">Hồ sơ</a>
                <div class="divider"></div>
                <div id="logout">
                    <a href="../Login-Register/loginRegister.html" style="color: #ef4444;" onclick="logout()">Đăng
                        xuất</a>
                </div>

            </div>
        </div>
    </div>
</header>