<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
<div class="app-container">
  <aside class="sidebar">
    <div class="sidebar-menu">
      <a href="../ListBoard/boards.html" class="menu-item" id="listboard">
        <i class="fa-solid fa-table-columns"></i>
        <span>Danh sách bảng</span>
      </a>

      <a href="../UserProfile/userProfile.html" class="menu-item" id="profile">
        <i class="fa-regular fa-user"></i>
        <span>Hồ sơ</span>
      </a>

      <a href="../History/history.html" class="menu-item" id="history">
        <i class="fa-solid fa-clock-rotate-left"></i>
        <span>Lịch sử hoạt động</span>
      </a>
    </div>

    <div class="sidebar-footer">
      <a href="#" class="menu-item logout" id="logout2">
        <i class="fa-solid fa-right-from-bracket"></i>
        <span>Đăng xuất</span>
      </a>
    </div>
  </aside>
</div>
